.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../background1.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.dynamic-content {
  width: 800px;
  margin: 30px auto;
}
.dynamic-content .section-block {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.dynamic-content .section-block .emo {
  position: absolute;
  top: 107px;
  left: 24px;
  cursor: pointer;
}
.dynamic-content .section-block .showMyEmo {
  position: absolute;
  top: 133px;
  left: 17px;
  z-index: 20;
}
.dynamic-content .section-block .select-music {
  margin-top: 10px;
}
.dynamic-content .section-block .select-music .selectSongName {
  height: 40px;
  line-height: 40px;
  padding: 6px 8px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.dynamic-content .section-block .select-music .selectSongName .music-ico {
  float: left;
}
.dynamic-content .section-block .select-music .selectSongName .select-song {
  display: inline-block;
  width: 95%;
}
.dynamic-content .section-block .select-music .selectSongName .select-song /deep/ .el-input {
  width: 724px;
}
.dynamic-content .section-block .select-music .selectSongName .select-song /deep/ .el-input .el-input__inner {
  border: 0px solid #DCDFE6;
  margin-left: 8px;
  text-align: center;
  cursor: pointer;
}
.dynamic-content .section-block .select-music .selectSongName .add-ico {
  float: right;
}
.dynamic-content .section-block .select-img {
  margin-top: 10px;
}
.dynamic-content .section-block .submitDynamic {
  margin-top: 10px;
}
.dynamic-content .main-dynamic-content {
  position: relative;
  margin-bottom: 40px;
}
.dynamic-content .main-dynamic-content .list-complete-enter,
.dynamic-content .main-dynamic-content .list-complete-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.dynamic-content .main-dynamic-content .list-complete-leave-active {
  position: absolute;
}
.dynamic-content .main-dynamic-content .dynamic-card {
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
  background: #fff;
  padding: 30px 16px;
  transition: all 1s;
}
.dynamic-content .main-dynamic-content .dynamic-card .mface {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .mface img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt {
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
  width: 91%;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubAuthor {
  font-size: 14px;
  color: #E6A23C;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubAuthor span {
  margin-left: 8px;
  color: #7f667f;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubDate {
  color: #b3a2b2;
  margin-top: 6px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubContent {
  margin-top: 6px;
  word-break: break-all;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong {
  background-color: #f5f5f5;
  width: 100%;
  height: 55px;
  line-height: 52px;
  margin-top: 10px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .song-img {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .song-img .cover {
  position: absolute;
  left: 19px;
  top: 27px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .song-img .cover .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .song-img .cover .icon_play .myfont {
  font-size: 12px;
  margin: 0px 3px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .song-img img {
  width: 40px;
  height: 40px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .pubSongMsg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .pubSongMsg .songName {
  height: 23px;
  line-height: 23px;
  color: #333;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubSong .pubSongMsg .singer {
  height: 16px;
  line-height: 16px;
  color: #666;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubImg {
  margin-top: 15px;
  width: 100%;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubImg .el-image {
  margin-right: 32px;
  margin-bottom: 20px;
}
.dynamic-content .main-dynamic-content .dynamic-card .gcnt .pubImg .el-image:nth-child(5) {
  margin-right: 0px;
}
.dynamic-content .main-dynamic-content .dynamic-card .dynamic_text {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .dynamic_text .weibo {
  margin-right: 15px;
  vertical-align: middle;
}
.dynamic-content .main-dynamic-content .dynamic-card .dynamic_text .weibo:hover {
  color: #ea5d5c;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area {
  margin-top: 50px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .comminication {
  padding: 6px 11px;
  background: #fafafa;
  border: 1px solid #00a1d6;
  border-radius: 8px;
  line-height: 0;
  min-height: 35px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .comminication textarea {
  width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  resize: none;
  height: 62px;
  word-break: break-all;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .pub-comment {
  margin-top: 10px;
  margin-left: 695px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment {
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid #e5e9ef;
  width: 100%;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .no-dynamicComm {
  text-align: center;
  color: #a9acb1;
  font-size: 14px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e9ef;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content:last-of-type {
  border-bottom: none;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .author-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .author-img img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content {
  display: inline-block;
  width: 748px;
  vertical-align: top;
  margin-left: 12px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .top-content {
  margin-bottom: 6px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .top-content .name {
  color: #E6A23C;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .top-content .commend {
  word-break: break-all;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .bottom-content {
  font-family: 'icomoon';
  position: relative;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .bottom-content .date-time {
  position: relative;
  display: inline-block;
  left: 0px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .bottom-content .like-chat {
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .main-message .content .bottom-content .like-chat span {
  margin-left: 10px;
  padding-left: 12px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message {
  width: 95%;
  margin-top: 24px;
  margin-left: 36px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .vice-share {
  margin-bottom: 25px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .author-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .author-img img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  margin-left: 12px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .top-content {
  margin-bottom: 6px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .top-content .name {
  color: #E6A23C;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .top-content .commend {
  word-break: break-all;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .bottom-content {
  font-family: 'icomoon';
  position: relative;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .bottom-content .date-time {
  position: relative;
  display: inline-block;
  left: 0px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .bottom-content .like-chat {
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .content .bottom-content .like-chat span {
  margin-left: 10px;
  padding-left: 12px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .vice-comm {
  margin-top: 25px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .vice-pubComm {
  margin-left: 655px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .other-vice-name {
  color: #00a1d6;
  cursor: pointer;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-comment .share-content .vice-message .vice-page {
  margin-top: 10px;
}
.dynamic-content .main-dynamic-content .dynamic-card .comment-area .main-page {
  text-align: center;
}
.dynamic-content .tipMessage {
  width: 104%;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  background-color: #f0eb98;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.dynamic-content .tipMessage .new-down {
  vertical-align: middle;
}
.dynamic-content .page {
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 85px;
  text-align: center;
}
