/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 去掉li 的小圆点 */
li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}

a {
    text-decoration: none
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

.hide,
.none {
    display: none
}

/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

/* 主体范围  */
.main-content {
    width: 1320px;
    margin: 0 auto;
}

/* 引入字体图标icomoon */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?v01qmd');
    src: url('../fonts/icomoon/icomoon.eot?v01qmd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?v01qmd') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?v01qmd') format('woff'),
        url('../fonts/icomoon/icomoon.svg?v01qmd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 引入阿里巴巴的icon */
@font-face {
    font-family: 'iconfont';
    /* Project id 3242722 */
    src: url('//at.alicdn.com/t/font_3242722_qvc3em1kcg.woff2?t=1649056315765') format('woff2'),
        url('//at.alicdn.com/t/font_3242722_qvc3em1kcg.woff?t=1649056315765') format('woff'),
        url('//at.alicdn.com/t/font_3242722_qvc3em1kcg.ttf?t=1649056315765') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
}

/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px;
    background-color: #c2c2c2;
}