.box-contain {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.box-contain .cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 224px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}
.box-contain .cover .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66px;
  height: 66px;
  line-height: 68px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.box-contain .cover .icon_play .myfont {
  font-size: 36px;
}
.box-contain .scale-img {
  width: 100%;
  height: 224px;
  overflow: hidden;
}
.box-contain .scale-img > img {
  width: 100%;
  height: 224px;
  transition: all 0.5s;
}
.box-contain .review {
  display: inline-block;
  width: 91%;
  font-size: 14px;
  /* 因为这个段落没有 width属性 所有 padding不会撑开盒子的宽度 */
  padding: 16px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.box-contain:hover img {
  transform: scale(1.2);
}
.box-contain:hover .cover {
  display: block;
}
