.MyHeader {
  position: relative;
  height: 60px;
  background: #fefefe;
  box-shadow: 0px -13px 8px 10px;
  margin-bottom: 15px;
  border-radius: 0px 0px 8px 8px;
}
.MyHeader .header-left {
  display: inline-block;
  height: 55px;
  line-height: 55px;
}
.MyHeader .header-left span {
  display: inline-block;
  font-family: 'icomoon';
  font-size: 24px;
}
.MyHeader .header-left ul {
  display: inline-block;
}
.MyHeader .header-left li {
  display: inline-block;
  padding: 0px 18px;
  font-size: 17px;
}
.MyHeader .header-left li a {
  display: inline-block;
  color: #2b2b2a;
}
.MyHeader .header-left li a:hover {
  color: royalblue;
}
.MyHeader .header-search {
  display: inline-block;
  width: 400px;
}
.MyHeader .header-search .el-input {
  display: inline-block;
  width: 230px;
  margin-right: 10px;
}
.MyHeader .author-right {
  display: inline-block;
  position: absolute;
  right: 101px;
  height: 60px;
  line-height: 55px;
  cursor: pointer;
}
.MyHeader .author-right .authorMsg {
  display: inline-block;
}
.MyHeader .author-right .authorMsg img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.MyHeader .author-right .nickname {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  color: #747571;
}
.el-drawer__header > span {
  font-size: 18px;
  text-align: center;
}
.dropdown-icon {
  font-family: 'icomoon';
}
.message-content {
  padding: 20px 20px;
  cursor: pointer;
  border-bottom: 1px solid #e2e2e2;
}
.message-content:hover {
  background-color: #f4f7fa;
}
.message-content .author-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: pink;
  border-radius: 50%;
  overflow: hidden;
}
.message-content .author-img img {
  width: 40px;
  height: 40px;
}
.message-content .content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 10px;
  width: 308px;
}
.message-content .content .top-content {
  margin-bottom: 6px;
}
.message-content .content .top-content .name {
  color: #E6A23C;
}
.message-content .content .top-content .date-time {
  position: absolute;
  right: 0px;
}
.message-content .content .bottom-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inDrawer {
  width: 430px;
}
.inDrawer .title {
  text-align: center;
  line-height: 50px;
}
.inDrawer .title .title-color {
  color: #E6A23C;
}
.inDrawer .scrollBox {
  height: 510px;
  border-top: 1px solid #ccc;
  padding: 10px 16px;
}
.inDrawer .scrollBox .content {
  height: 460px;
}
.inDrawer .scrollBox .content .right {
  text-align: right;
}
.inDrawer .scrollBox .content .left {
  text-align: left;
}
.inDrawer .scrollBox .content .tip-body {
  padding: 5px 12px;
  word-break: break-all;
}
.inDrawer .scrollBox .content .tip-body .tip {
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-family: sans-serif;
  text-align: left;
  display: inline-block;
}
.inDrawer .scrollBox .content .tip-body .right-color {
  background-color: deepskyblue;
  border-bottom-right-radius: 0px;
}
.inDrawer .scrollBox .content .tip-body .left-color {
  background-color: forestgreen;
  border-bottom-left-radius: 0px;
}
.inDrawer .writeContent .box-text {
  text-align: center;
}
.inDrawer .writeContent .box-text .write {
  width: 355px;
  height: 110px;
  padding: 20px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  overflow-y: hidden;
  word-break: break-all;
}
.inDrawer .writeContent .sendModel {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
